{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container" style="font-family: sans-serif; text-align: justify; margin-left: 35rem;" >
        <h1>Creditcard Approval</h1>
        
        <h1>  PREDICTION :  </h1>
        {%if data == "-"%}
        <h1>loan deined</h1>
        {%else%}
        <h1>loan approve</h1>
        {%endif%}
        <br><br>
        <a href='/'>go back to home page</a>
    </div>
{% endblock %}